
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-between{
  display: flex;
  justify-content: space-between;
}
@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}